<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add Employee</title>
    <link rel="stylesheet" type="text/css" href="../static/css/AddEmployeeForm.css" th:href="@{/css/AddEmployeeForm.css}">
</head>
    <body>
        <div id="header">
		<div id="logo"></div>
        <ul id="nav">
			<li><a href="/">Main Menu</a></li>
            <li><a href="/patient_records_table">Patient Records</a></li>
			<li><a class="active" href="/employee_records">Employee Records</a></li>
            <li><a href="/therapy_session">Therapy Sessions</a></li>
            <li><a href="/reports">Reports</a></li>
		</ul>
		</div>
    <center> <form class="addEmployee">
		<h1> Add Employee Form </h1> <br></br>
		First name:<br>
		<input type="text" name="firstname"><br>
		Last name:<br>
		<input type="text" name="lastname"></br>
		Start Date:<br>
		<input type="text" name="startdate"></br>
		Email:<br>
		<input type="text" name="email"></br>
		Phone Number:<br>
		<input type="text" name="phone"></br>
		Therapist Status:<br>
		<select name="therapiststatus">
			<option value="active">Active</option>
			<option value="inactive">Inactive</option>
		</select></br>
		<br></br>
		<input type="submit" value="Submit">
	<center> <button onclick="goBack()">Exit</button></center>
		<script>
			function goBack() {
				window.history.back();
			}
		</script>
		</form> </center>
		<style type="text/css">
		.addEmployee{
		max-width: 450px;
		background: #FAFAFA;
		padding: 30px;
		margin: 50px auto;
		box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
		border-radius: 10px;
		border: 6px solid #305A72;
		}

		</style>
    </body>
</html>