<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add Patient</title>
    <link rel="stylesheet" type="text/css" href="../static/css/AddPatientForm.css" th:href="@{/css/AddPatientForm.css}">
</head>
    <body>
        <div id="header">
		<div id="logo"></div>
        <ul id="nav">
			<li><a href="/">Main Menu</a></li>
            <li><a class="active" href="/patient_records_table">Patient Records</a></li>
			<li><a href="/employee_records">Employee Records</a></li>
            <li><a href="/therapy_session">Therapy Sessions</a></li>
            <li><a href="/reports">Reports</a></li>
		</ul>
		</div>
    <center> <form class="addPatient">
		<h1> Add Patient Form </h1>
		First name:<br>
		<input type="text" name="firstname"><br>
		Last name:<br>
		<input type="text" name="lastname"></br>
		Sex:<br>
		<select name="sex">
			<option value="male">Male</option>
			<option value="female">Female</option>
		</select></br>
		Address:<br>
		<input type="text" name="address"></br>
		Region:<br>
		<select name="region">
			<option value="texas">Texas</option>
			<option value="california">California</option>
			<option value="newmexico">New Mexico</option>
		</select></br>
		Country:<br>
		<select name="country">
			<option value="usa">United States</option>
			<option value="mexico">Mexico</option>
			<option value="canada">Canada</option>
		</select></br>
		Email:<br>
		<input type="text" name="email"></br>
		DOB:<br>
		<input type="text" name="dob"></br>
		Home Phone:<br>
		<input type="text" name="hphone"></br>
		Mobile Phone:<br>
		<input type="text" name="mphone"></br>
		Allergies:<br>
		<select name="allergies">
			<option value="milk">Milk</option>
			<option value="peanut">Peanut</option>
			<option value="latex">Latex</option>
		</select></br>
		Medications:<br>
		<input type="text" name="medications"></br>
		Patient Status:<br>
		<select name="patientstatus">
			<option value="active">Active</option>
			<option value="inactive">Inactive</option>
		</select></br>
		Insurance:<br>
		<select name="insurance">
			<option value="tchp">TCHP</option>
			<option value="chc">CHC</option>
			<option value="uhc">UHC</option>
			<option value="cshcn">CSHCN</option>
			<option value="tmhp">TMHP</option>
		</select></br> <br></br>
		<input type="submit" value="Submit">
	<center> <button onclick="goBack()">Exit</button></center>
		<script>
			function goBack() {
				window.history.back();
			}
		</script>
		</form> </center>
		<style type="text/css">
		.addPatient{
		max-width: 450px;
		background: #FAFAFA;
		padding: 30px;
		margin: 50px auto;
		box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
		border-radius: 10px;
		border: 6px solid #305A72;
		}

	</style>
    </body>
</html>