<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add Therapy Session</title>
    <link rel="stylesheet" type="text/css" href="../static/css/AddTherapySession.css" th:href="@{/css/AddTherapySession.css}">
</head>
    <body>
        <div id="header">
		<div id="logo"></div>
        <ul id="nav">
			<li><a href="/">Home</a></li>
			<li><a href="/patient_records_table">Patient Records</a></li>
			<li><a href="/employee_records">Employee Records</a></li>
         	<li><a class="active" href="/therapy_session">Therapy Sessions</a></li>
			<li><a href="/reports">Reports</a></li>
	</ul>
		</div>
    <center> <form class="addTherapySession">
		<h1> Add Therapy Session Form </h1> <br></br>
		Therapist Name:<br>
		<input type="text" name="therapistname"><br>
		Therapist ID:<br>
		<input type="text" name="therapistID"></br>
		Session Date:<br>
		<input type="text" name="sessiondate"></br>
		Session Start:<br>
		<input type="text" name="sessionstart"></br>
		Session End:<br>
		<input type="text" name="sessionend"></br>
		Session Status:<br>
		<select name="therapiststatus">
			<option value="complete">Complete</option>
			<option value="incomplete">Incomplete</option>
		</select></br>
		<br></br>
		<input type="submit" value="Submit">
	<center> <button onclick="goBack()">Exit</button></center>
		<script>
			function goBack() {
				window.history.back();
			}
		</script>
		</form> </center>
		<style type="text/css">
		.addTherapySession{
		max-width: 450px;
		background: #FAFAFA;
		padding: 30px;
		margin: 50px auto;
		box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
		border-radius: 10px;
		border: 6px solid #305A72;
		}

		</style>
    </body>
</html>
