<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Therapy Progress Note</title>
    <link rel="stylesheet" type="text/css" href="../static/css/AddTherapyProgressNotes.css" th:href="@{/css/AddTherapyProgressNotes.css}">
</head>
    <body>
        <div id="header">
		<div id="logo"></div>
        <ul id="nav">
			<li><a href="/">Home</a></li>
            <li><a href="/patient_records_table">Patient Records</a></li>
			<li><a href="/employee_records">Therapist Records</a></li>
            <li><a href="/therapy_session">Therapy Sessions</a></li>
			<li><a href="/incidents_table">Incidents</a></li>
            <li><a href="/reports">Reports</a></li>
		</ul>
		</div>
		<center> <form class="addTherapyNotes" th:action="@{/add_therapy_note/{id} (id=${therapy.getTherapyId()})}" th:object="${therapy}" method="post">
			<h1> Therapy Progress Note </h1><p2><div class="requiredKey">Required</div></p2><br></br>
			<br></br><p1><div align="left" class="required">Intervention:
			<select name="intervention" placeholder="Default" maxlength="10" th:field="${therapy_i_code.interventionCodeId}">
				<option value="stuff"  th:each="i_code : ${intervention_code}" th:text="${i_code.getName()}" th:value="${i_code.getInterventionCodeId()}">Stuff</option>
			</select></div></p1>
			<p>    <div align="right" class="required">&nbsp;&nbsp;&nbsp;CPT Code:
			<select name="cptcode" placeholder="Default"  maxlength="10" th:field="${therapy_cpt.speechCptCodeId}">
				<option value="stuff"  th:each="cpt : ${cpt_code}" th:text="${cpt.getName()}" th:value="${cpt.getSpeechCptCodeId()}" >Stuff</option>
			</select></div></p1>
			<br></br><center><div align="center" class="required">Subjective:
			<select name="subjective" placeholder="Default" maxlength="10" th:field="${therapy_subjective.subjectiveCodeId}">
				<option value="stuff"  th:each="subject : ${subjective}" th:text="${subject.getName()}" th:value="${subject.getSubjectiveCodeId()}">Stuff</option>
			</select></div></center>
			<p align="left"> Subjective Notes:
				<textarea name="subjectivenotes"  maxlength="500" size="100" cols="120" rows="5" th:field="${therapy_subjective.note}"></textarea>
				<br><br>
			<p align="left"> Objective Goals:
				<textarea name="objectivegoals" th:field="*{objectiveGoals}" placeholder="Goals" maxlength="500" size="100" cols="120" rows="5"></textarea>
				<br><br>
			<p align="left"> Objective Statement:
				<textarea name="objectivestatement" th:field="*{objectiveStatement}" maxlength="500" size="100" cols="120" rows="5"></textarea>
				<br></br><center><div class="required">Assessment Progress Stage:
			<select name="assessment" placeholder="Default"  maxlength="10" th:field="*{assessmentProgressId}">
				<option value="stuff"  th:each="assessment_code : ${assessment_progress_code}" th:value="${therapy.assessmentProgressId}" th:text="${assessment_code.getName()}">Stuff</option>
			</select></div></center>
			<p align="left">Assessment Notes:
				<textarea name="assessmentnotes" maxlength="100" th:field="${therapy.assessmentTreatment}" size="100"cols="120" rows="5"></textarea>
				<br></br><center><div class="required">Plan:
			<select name="Plan" placeholder="Default" maxlength="10" th:field="${therapy_plan.planCodeId.planCodeId}">
				<option value="stuff"  th:each="plan : ${plan_stuff}" th:text="${plan.getName()}" th:value="${plan.getPlanCodeId()}">Stuff</option>
			</select></div></center>
			<p align="left">Plan Notes:
				<textarea name="Plannotes"   maxlength="100" size="100"cols="120" rows="5"th:field="${therapy_plan.note}"></textarea>
				<br></br>
				<p1>Medication:
                    <select th:field="${therapy_med.medicationId}">
					<option name="medication"  placeholder="List of Medication" th:each="med : ${medication}" th:text="${med.getName()}" th:value="${med.getMedicationId()}" maxlength="255"  cols="120" rows="2"></option></select>
					<br></br>
					<p1><div align="left" class="required">&nbsp;&nbsp;&nbsp;Discharge Plan:
						<select name="dischargeplan" placeholder="active" maxlength="10" th:field="${therapy.dischargeId}">
							<option th:each="discharge : ${discharge_array}" th:text="${discharge.getDischargePlan()}" th:value="${discharge.getDischargeId()}">Default Discharge Plan</option>
						</select></div></p1>
					<br></br><p align="right">Therapist Signature:
			<input name="therapistsig" th:field="${therapy.therapistSignature}" maxlength="100" autocomplete="on"></p><br></br>
            <center><input type="submit" value="Submit"></center>
        </form></center>
		<center><button class="exitButton" onclick="goBack()">Exit</button><center>
			<script>
				function goBack() {
					window.open("/therapy_session", "_self");
				}
			</script>
			<script>
				var dateControl = document.querySelector('input[type="date"]');
				dateControl.value = 'YYYY/MM/DD';
			</script>
	</body>
</html>