<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Therapy Progress Note</title>
    <link rel="stylesheet" type="text/css" href="../static/css/AddTherapistIncidentForm.css" th:href="@{/css/AddTherapistIncidentForm.css}">
</head>
<body>
<div id="header">
    <div id="logo"></div>
    <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/patient_records_table"> Patient Records</a></li>
        <li><a href="/employee_records"> Therapist Records</a></li>
        <li><a href="/therapy_session"> Therapy Sessions</a></li>
        <li><a class="active" href="/incidents_table">Incidents</a></li>
        <li><a href="/reports">Reports</a></li>
    </ul>
</div>
<center>
    <form class="addIncident" th:action="@{/add_incident}" th:object="${incident}">
        <h1> Add Therapy Incident </h1>
        <p2>
            <div class="requiredKey">Required</div>
        </p2><br><br>
        <p1>
            <div class="required">&nbsp;&nbsp;&nbsp;Therapy ID:
                <select name="TherapyID" th:field="*{therapyId}" placeholder="">
                    <option th:each="therapy : ${therapy_array}" th:text="${therapy.getTherapyId()}" th:value="${therapy.getTherapyId()}"></option>
                </select></div>
        </p1>
        <p1>
            <div>&nbsp;&nbsp;&nbsp;Therapist Name:
                <select name="TherapistName" placeholder=" ">
                    <option th:each="therapist : ${therapist_array}" th:value="${therapist.getTherapistId()}" th:text="${therapist.getFirstName()} + ' ' + ${therapist.getLastName()}"></option>
                </select></div>
        </p1>
        <p1>&nbsp;&nbsp;&nbsp;Notes pertaining the Therapist Incident:
            <input type="text" name="Therapistnotes" placeholder="None" maxlength="250"></p1>
        <p1>
            <div>&nbsp;&nbsp;&nbsp;Patient ID:
                <select name="PatientID"  placeholder="">
                    <option th:each="patient : ${patient_array}" th:value="${patient.getPatientId()}" th:text="${patient.getFirstName()} + ' ' + ${patient.getLastName()}"></option>
                </select></div>
        </p1>
        <p1>&nbsp;&nbsp;&nbsp;Notes pertaining the Patient Incident :
            <input type="text" name="Patientnotes" placeholder="None" maxlength="250"></p1>
        <p1>
            <div>&nbsp;&nbsp;&nbsp;Incident Type:
                <select name="IncidentType" placeholder="">
                    <option th:each="incident_type : ${incident_type_array}" th:value="${incident_type.getIncidentTypeId()}" th:text="${incident_type.getName()}"></option>
                </select></div>
        </p1>
        <br><br>
        <p1>
            <div class="required">Incident Date:
                <input name="Incidentdate" type="date" size="5" maxlength="10"></div>
        </p1>
        <br><br>
        <p1>
            <div class="required">Time of Incident :
                <input name="Incidenttime" type="time" size="5" maxlength="10"></div>
        </p1>
        <br><br>
        <center>
            <div class="required">Incident Status:
                <select name="Incident_Status" placeholder="active" maxlength="10">
                    <option value="active" th:each="incident_status : ${incident_status_array}" th:value="${incident_status.getIncidentStatusId()}" th:text="${incident_status.getStatusType()}">Closed</option>
                </select></div>
        </center><br><br>
        <center><input type="submit" value="Submit"></center>
    </form>
</center>
<center><button class="exitButton" onclick="goBack()">Exit</button>
    <center>
        <script>
            function goBack() {
                window.open("/incidents_table", "_self");
            }
        </script>
        <script>
            var dateControl = document.querySelector('input[type="date"]');
            dateControl.value = 'YYYY/MM/DD';
        </script>

    </center>
</center>
</body></html>