<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Therapist Records</title>
    <link rel="stylesheet" type="text/css" href="../static/css/Employees_Table.css" th:href="@{/css/Therapist_Table.css}">
</head>
    <body>
		<div id="header">
		<div id="logo"></div>
        <ul id="nav">
			<li><a href="/">Home</a></li>
            <li><a href="/patient_records_table">Patient Records</a></li>
			<li><a class="active" href="/employee_records">Therapist Records</a></li>
            <li><a href="/therapy_session">Therapy Sessions</a></li>
			<li><a href="/incidents_table">Incidents</a></li>
            <li><a href="/reports">Reports</a></li>
		</ul>
		</div>
		<div class="row">
			<div class="box">
				<h1>
				<a href="/add_employee_form">Add Therapist</a>
				</h1> </div>
		</div>
		<center><input class="searchBar" type="text" id="firstInput" onkeyup="firstName()" placeholder="Search by Therapist's First Name" title="Type Therapist's Name">&nbsp;&nbsp;&nbsp;<input class="searchBar" type="text" id="secondInput" onkeyup="lastName()" placeholder="Search by Therapist's Last Name" title="Type Therapist's Name"></center>
		<center> <h4>View Therapist Records</h4>
		<table id="myTable">
		<tr class="header">
			<th>Therapist ID</th>
			<th>Therapist First Name</th>
			<th>Therapist Last Name</th>
			<th>Start Date</th>
			<th>Email</th>
			<th>Primary Phone Number</th>
			<th>Secondary Phone Number</th>
			<th>Therapist Status</th>
			<th>Modify</th>
			<th>Remove</th>
		</tr>
			<tr th:each="therapist : ${therapist_array}">
				<td th:text="${therapist.getTherapistId()}">Default ID</td>
				<td th:text="${therapist.getFirstName()}">Default First Name</td>
				<td th:text="${therapist.getLastName()}">Default Last Name</td>
				<td th:text="${therapist.getStartDate()}">Default Start Date</td>
				<td th:text="${therapist.getEmail()}">Default Email</td>
				<td th:text="${therapist.getPrimaryPhone()}">Default Home Number</td>
				<td th:text="${therapist.getSecondaryPhone()}">Default Mobile Number</td>
				<td th:text="${therapist.getStatusId()}">Default Status</td>
				<td><a th:href="@{/modify_employee_form/{id}(id=${therapist.getTherapistId()})}">Edit</a></td>
				<td><a th:href="@{/delete_employee_form/{id}(id=${therapist.getTherapistId()})}">Delete</a></td>
			</tr>
		</table>
		</center>
		<script>
		function firstName() {
			var input, filter, table, tr, td, i, txtValue;
			input = document.getElementById("firstInput");
			filter = input.value.toUpperCase();
			table = document.getElementById("myTable");
			tr = table.getElementsByTagName("tr");
			for (i = 0; i < tr.length; i++) {
				td = tr[i].getElementsByTagName("td")[1];
				if (td) {
					txtValue = td.textContent || td.innerText;
					if (txtValue.toUpperCase().indexOf(filter) > -1) {
						tr[i].style.display = "";
					} else {
					  tr[i].style.display = "none";
      }
    }       
  }
}
</script>
		<script>
			function lastName() {
				var input, filter, table, tr, td, i, txtValue;
				input = document.getElementById("secondInput");
				filter = input.value.toUpperCase();
				table = document.getElementById("myTable");
				tr = table.getElementsByTagName("tr");
				for (i = 0; i < tr.length; i++) {
					td = tr[i].getElementsByTagName("td")[2];
					if (td) {
						txtValue = td.textContent || td.innerText;
						if (txtValue.toUpperCase().indexOf(filter) > -1) {
							tr[i].style.display = "";
						} else {
							tr[i].style.display = "none";
						}
					}
				}
			}
		</script>
    </body>
</html>