<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Main Menu</title>
    <link rel="stylesheet" type="text/css" href="../static/css/MainMenu.css" th:href="../static/css/MainMenu.css">
</head>
    <body>
        <ul id="nav">
			<li><a class="active" href="index.html">Main Menu</a></li>
            <li><a href="PatientRecords_Table.html">Patient Records</a></li>
			<li><a href="Employees_Table.html">Employee Records</a></li>
            <li><a href="TherapySessions_Table.html">Therapy Sessions</a></li>
            <li><a href="Reports.html">Reports</a></li>
		</ul>
		<center> <h1>
		<img src="../static/images/PRS.png" alt="PRS" height="470" width="489"> <br></br>
		<p>Patient Record System (PRS) is a multi-user application capable of viewing, adding, modifying, and deleting patient information and patient treatment plan progress being stored on an AWS RDS database.</p>
		</h1> </center>
    </body>
</html>