<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Modify Patient</title>
    <link rel="stylesheet" type="text/css" href="../static/css/ModifyPatientTable.css" th:href="@{/css/ModifyPatientTable.css}">
</head>
    <body>
        <div id="header">
		<div id="logo"></div>
        <ul id="nav">
		<li><a href="/">Home</a></li>
			<li><a class="active" href="/patient_records_table">Patient Records</a></li>
			<li><a href="/employee_records">Therapist Records</a></li>
			<li><a href="/therapy_session">Therapy Sessions</a></li>
			<li><a href="/incidents_table">Incidents</a></li>
			<li><a href="/reports">Reports</a></li>
	</ul>
		</div>
			<form class="modifyPatient" th:action="@{/modify_patient/{id} (id=${patient.getPatientId()})}" th:object="${patient}" method="post">
		<h1> Modify Patient Information </h1><p2><div class="requiredKey">Required</div></p2><br></br>
		<p1><div class="required">First name:
		<input type="text" name="firstname" th:field="*{firstName}" maxlength="50"></div></p1>
		<p1><div class="required">&nbsp;&nbsp;&nbsp;Last name:
		<input type="text" name="lastname" th:field="*{lastName}" maxlength="50"></div></p1>
		<p1><div class="required">&nbsp;&nbsp;&nbsp;Sex:
		<select name="sex" placeholder="" th:field="*{sexId}" maxlength="10">
			<option th:each="sex : ${sex_array}" th:value="${sex.getSexTypeId()}" th:text="${sex.getSex()}">Male</option>
		</select></div></p1>
		<br></br><p1><div class="required" maxlength="10">Date of Birth:
		<input type="date" name="dob" size="8" th:field="*{dob}"></div></p1>
		<p1><div class="required">&nbsp;&nbsp;&nbsp;Guardian Name:
		<input type="text" name="guardian" maxlength="50" th:size="50" th:field="*{guardianName}" size="35"></div></p1>
		<br></br><p1><div class="required">Start Date:
		<input type="date" name="startdate" maxlength="10" th:size="5" th:field="*{startDate}" size="5"></div></p1>
		<p1><div class="required">&nbsp;&nbsp;&nbsp;Address:
		<input type="text" name="address" maxlength="255" th:size="50" th:field="*{addressLine}" size="35"></div></p1>
		<br></br><p1><div class="required">City:
		<input type="text" name="city" maxlength="100" th:field="*{city}"></div></p1>
		<p1><div class="required">&nbsp;&nbsp;&nbsp;ZIP Code:
		<input type="text" name="zipcode" maxlength="6" th:size="8" th:field="*{zipcode}" size="8"></div></p1>
		<br></br><p1><div class="required">Region:
		<select name="region" placeholder="Texas" th:field="*{regionId}" maxlength="10">
			<option  th:each="region : ${region_array}" th:value="${region.getRegionId()}" th:text="${region.getName()}">Texas</option>
		</select></div></p1>
		<p1><div class="required">&nbsp;&nbsp;&nbsp;Country:
		<select name="country" placeholder="United States" th:field="*{countryId}" maxlength="10">
			<option   th:each="country :  ${country_array}" th:value="${country.getCountryId()}" th:text="${country.getName()}">United States</option>
		</select></div></p1>
		<p1><div class="required">&nbsp;&nbsp;&nbsp;Email:
		<input type="text" name="email" maxlength="100" th:size="100" th:field="*{email}"></div></p1>
		<br></br><p1><div class="required">Primary Phone:
		<input type="text" name="pphone" placeholder="XXX-XXX-XXXX" th:size="13" th:field="*{primaryPhone}" maxlength="13"></div></p1>
		<p1>&nbsp;&nbsp;&nbsp;Secondary Phone:
		<input type="text" name="sphone" placeholder="XXX-XXX-XXXX" th:size="13" th:field="*{secondaryPhone}" maxlength="13"></p1>
		<br></br><p1>Allergies:
		<input type="text" name="allergies" placeholder="None" maxlength="50" th:size="40"></p1>
		<p1>&nbsp;&nbsp;&nbsp;Medication:
		<input type="text" name="medication" placeholder="None" maxlength="50"  th:size="40"></p1><p1>&nbsp;&nbsp;&nbsp;Medication Notes:
				<input type="text" name="medicationnotes"  placeholder="None" maxlength="250" th:size="50"></p1>
		<p1><div class="required">&nbsp;&nbsp;&nbsp;Insurance:
		<select name="insurance" placeholder="">
			<option th:each="insurance : ${insurance_array}" th:value="${insurance.getInsuranceId()}" th:text="${insurance.getName()}">TCHP</option>
		</select></div></p1>
		<br></br><p1><div class="required">&nbsp;&nbsp;&nbsp;Patient Status:
		<select name="patientstatus" placeholder="active" maxlength="10" th:field="*{statusId}">
			<option th:each="patient_status : ${patient_status_array}" th:value="${patient_status.getPatientStatusId()}" th:text="${patient_status.getStatusType()}" >Active</option>
		</select></div></p1><br></br>
		<center><input type="submit" value="Submit"></center>
		</form></center>
		<center><button class="exitButton" onclick="goBack()">Exit</button><center>
		<script>
			function goBack() {
				window.open("/patient_records_table", "_self");
			}
		</script>
		<script>
			var dateControl = document.querySelector('input[type="date"]');
			dateControl.value = 'YYYY/MM/DD';
		</script>
    </body>
</html>
