<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Patient Records</title>
    <link rel="stylesheet" type="text/css" href="../static/css/PatientRecords.css" th:href="@{/css/PatientRecords.css}">
</head>
    <body>
		<div id="header">
		<div id="logo"></div>
        <ul id="nav">
			<li><a href="/">Main Menu</a></li>
            <li><a class="active" href="/patient_records_table">Patient Records</a></li>
			<li><a href="/employee_records">Employee Records</a></li>
            <li><a href="/therapy_session">Therapy Sessions</a></li>
            <li><a href="/reports">Reports</a></li>
		</ul>
		</div>
		<h1>
		<a href="/add_patient_form">Add Patient</a>
		</h1>
		<h1>
		<a href="/modify_patient_form">Modify Patient</a>
		</h1>
		<center> <input style="text-align:center;" type="text" id="myInput" onkeyup="myFunction()" placeholder="Search by Patient Name" title="Type Patient's Name"> </center>
		<center> 
		<table id="myTable">
		<tr class="header">
			<th>Patient ID</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Sex</th>
			<th>Address</th>
			<th>Region</th>
			<th>Country</th>
			<th>Email</th>
			<th>DOB</th>
			<th>Home Phone</th>
			<th>Mobile Phone</th>
			<th>Allergies</th>
			<th>Medication History</th>
			<th>Patient Status</th>
			<th>Insurance</th>
		</tr>
		<tr>
			<td>001</td>
			<td>Maria</td>
			<td>Anders</td>
			<td>Female</td>
			<td>4800 Calhoun Rd, Houston</td>
			<td>Texas</td>
			<td>United States</td>
			<td>mariaanders@gmail.com</td>
			<td>03-25-1999</td>
			<td>8984516935</td>
			<td>2814569832</td>
			<td>None</td>
			<td>None</td>
			<td>Active</td>
			<td>TCHP</td>
		</tr>
            </tr>
            <tr th:each="patient : ${patient_array}">
                <td th:text="${patient.getPatientId()}">Default ID</td>
                <td th:text="${patient.getFirstName()}">Default First Name</td>
                <td th:text="${patient.getLastName()}">Default Last Name</td>
				<td th:text="${patient.getSexId()}">Default Sex</td>
				<td th:text="${patient.getAddressLine()}">Default Address</td>
				<td th:text="${patient.getRegionId()}">Default Region</td>
				<td th:text="${patient.getCountryId()}">Default Country</td>
				<td th:text="${patient.getEmail()}">Default Email</td>
				<td th:text="${patient.getDob()}">Default DOB</td>
				<td th:text="${patient.getHomePhone()}">Default Home Phone</td>
				<td th:text="${patient.getMobilePhone()}">Default Mobile Phone</td>
				<td>Default Allergies</td>
				<td th:text="${}">Medication History</td>
				<td th:text="${patient.getStatusId()}">Default Status</td>
				<td th:text="${patient.getInsuranceId()}">Insurance</td>
            </tr>
		</table>
		</center>
		<script>
		function myFunction() {
			var input, filter, table, tr, td, i, txtValue;
			input = document.getElementById("myInput");
			filter = input.value.toUpperCase();
			table = document.getElementById("myTable");
			tr = table.getElementsByTagName("tr");
			for (i = 0; i < tr.length; i++) {
				td = tr[i].getElementsByTagName("td")[1];
				if (td) {
					txtValue = td.textContent || td.innerText;
					if (txtValue.toUpperCase().indexOf(filter) > -1) {
						tr[i].style.display = "";
					} else {
					  tr[i].style.display = "none";
      }
    }       
  }
}
</script>
    </body>
</html>