<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Therapist Records</title>
    <link rel="stylesheet" type="text/css" href="../static/css/Therapist_Table.css" th:href="@{/css/Employees_Table.css}">
</head>
    <body>
		<div id="header">
		<div id="logo"></div>
        <ul id="nav">
			<li><a href="/">Home</a></li>
			<li><a href="/patient_records_table">Patient Records</a></li>
			<li><a href="/employee_records">Therapist Records</a></li>
			<li><a href="/therapy_session">Therapy Sessions</a></li>
			<li><a href="/incidents_table">Incidents</a></li>
			<li><a href="/reports">Reports</a></li>
		</ul>
		</div>
		<center><div class="row">
			<div onclick="location.href='AddTherapistForm.html';">
				<div class="box">
					<img th:src="@{/images/add.png}" height="30" width="30"><h1>Add Therapist</h1></div></div>
		</div></center>
		<center> <input style="text-align:center;" type="text" id="myInput" onkeyup="myFunction()" placeholder="Search by Therapist Name" title="Type Therapist's Name"> </center>
		<center> 
		<table id="myTable">
		<tr class="header">
			<th>Therapist ID</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
			<th>Start Date</th>
			<th>Primary Phone</th>
            <th>Secondary Phone</th>
            <th>Therapist Status</th>
		</tr>
		<tr>
			<td>001</td>
			<td>Maria</td>
            <td>Anders</td>
            <td>mariaanders@gmail.com</td>
			<td>03-25-2018</td>
			<td>8984516935</td>
            <td>89845416935</td>
			<td>Active</td>
		</tr>
		</table>
		</center>
		<script>
		function myFunction() {
			var input, filter, table, tr, td, i, txtValue;
			input = document.getElementById("myInput");
			filter = input.value.toUpperCase();
			table = document.getElementById("myTable");
			tr = table.getElementsByTagName("tr");
			for (i = 0; i < tr.length; i++) {
				td = tr[i].getElementsByTagName("td")[1];
				if (td) {
					txtValue = td.textContent || td.innerText;
					if (txtValue.toUpperCase().indexOf(filter) > -1) {
						tr[i].style.display = "";
					} else {
					  tr[i].style.display = "none";
      }
    }       
  }
}
</script>
    </body>
</html>