<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Therapy Notes</title>
    <link rel="stylesheet" type="text/css" href="../static/css/TherapyProgressNotes_Table.css" th:href="@{/css/TherapyProgressNotes_Table.css}">
</head>
    <body>
		<div id="header">
		<div id="logo"></div>
        <ul id="nav">
			<li><a href="/">Home</a></li>
			<li><a href="/patient_records_table">Patient Records</a></li>
			<li><a href="/employee_records">Therapist Records</a></li>
			<li><a href="/therapy_session">Therapy Sessions</a></li>
			<li><a class="active" href="/therapy_progress_notes">Therapy Notes</a></li>
			<li><a href="/incidents_table">Incidents</a></li>
			<li><a href="/reports">Reports</a></li>
		</ul>
		</div>
		<center><div class="row">
			<div onclick="location.href='AddTherapyProgressNotes.html';">
				<div class="box">
					<img src="../static/images/add.png" height="30" width="30"><h1>Add Therapy Note</h1></div></div>
		</div></center>
		<center> <input style="text-align:center;" type="text" id="myInput" onkeyup="myFunction()" placeholder="Search by Therapy Session ID" title="Type Therapy Session ID"> </center>
		<center> 
		<table id="myTable">
		<tr class="header">
			<th>Therapy Note ID</th>
			<th>Date</th>
			<th>Time In</th>
			<th>Time Out</th>
			<th>Therapy ID</th>
			<th>Patient First Name</th>
			<th>Patient Last Name</th>
			<th>Intervention</th>
			<th>CPT Code</th>
			<th>Subjective</th>
			<th>Subjective Notes</th>
			<th>Objective</th>
			<th>Objective Notes</th>
			<th>Assessment</th>
			<th>Assessment Notes</th>
			<th>Plan</th>
			<th>Plan Notes</th>
			<th>Medication</th>
			<th>Discharge Plan</th>
			<th>Therapist Signature</th>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		</table>
		</center>
		<script>
		function myFunction() {
			var input, filter, table, tr, td, i, txtValue;
			input = document.getElementById("myInput");
			filter = input.value.toUpperCase();
			table = document.getElementById("myTable");
			tr = table.getElementsByTagName("tr");
			for (i = 0; i < tr.length; i++) {
				td = tr[i].getElementsByTagName("td")[1];
				if (td) {
					txtValue = td.textContent || td.innerText;
					if (txtValue.toUpperCase().indexOf(filter) > -1) {
						tr[i].style.display = "";
					} else {
					  tr[i].style.display = "none";
      }
    }       
  }
}
</script>
</body>
</html>