<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Therapy Sessions</title>
    <link rel="stylesheet" type="text/css" href="../static/css/TherapySessions_Table.css" th:href="@{/css/TherapySessions_Table.css}">
</head>
    <body>
		<div id="header">
		<div id="logo"></div>
        <ul id="nav">
			<li><a href="/">Home</a></li>
			<li><a href="/patient_records_table">Patient Records</a></li>
			<li><a href="/employee_records">Therapist Records</a></li>
			<li><a class="active" href="/therapy_session">Therapy Sessions</a></li>
			<li><a href="/therapy_progress_notes">Therapy Notes</a></li>
			<li><a href="/incidents_table">Incidents</a></li>
			<li><a href="/reports">Reports</a></li>
		</ul>
		</div>
		<center><div class="row">
			<div onclick="location.href='AddTherapySession.html';">
				<div class="box">
					<img src="../static/images/add.png" height="30" width="30"><h1>Add Therapy Session</h1></div></div>
		</div></center>
		<center> <input style="text-align:center;" type="text" id="myInput" onkeyup="myFunction()" placeholder="Search by Therapist's Name" title="Type Therapist's Name"> </center>
		<center> 
		<table id="myTable">
		<tr class="header">
			<th>Therapy ID</th>
			<th>Therapist Name</th>
			<th>Patient Name</th>
			<th>Session Date</th>
			<th>Session Start</th>
			<th>Session End</th>
			<th>Session Status</th>
		</tr>
		<tr>
			<td>1</td>
			<td>Maria Anders</td>
			<td>Tom Winkleman</td>
			<td>03-12-2019</td>
			<td>08:43</td>
			<td>09:30</td>
			<td>Complete</td>
		</tr>
		</table>
		</center>
		<script>
		function myFunction() {
			var input, filter, table, tr, td, i, txtValue;
			input = document.getElementById("myInput");
			filter = input.value.toUpperCase();
			table = document.getElementById("myTable");
			tr = table.getElementsByTagName("tr");
			for (i = 0; i < tr.length; i++) {
				td = tr[i].getElementsByTagName("td")[1];
				if (td) {
					txtValue = td.textContent || td.innerText;
					if (txtValue.toUpperCase().indexOf(filter) > -1) {
						tr[i].style.display = "";
					} else {
					  tr[i].style.display = "none";
      }
    }       
  }
}
</script>
	</body>
</html>