<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Therapy Sessions</title>
    <link rel="stylesheet" type="text/css" href="../static/css/TherapySessions_Table.css" th:href="@{/css/TherapySessions_Table.css}">
</head>
    <body>
		<div id="header">
		<div id="logo"></div>
        <ul id="nav">
			<li><a href="/">Home</a></li>
			<li><a href="/patient_records_table">Patient Records</a></li>
			<li><a href="/employee_records">Therapist Records</a></li>
			<li><a class="active" href="/therapy_session">Therapy Sessions</a></li>
			<li><a href="/incidents_table">Incidents</a></li>
			<li><a href="/reports">Reports</a></li>
		</ul>
		</div>
		<center><div class="row">
			<div onclick="location.href='/add_therapy_session_form';">
				<div class="box">
					<img th:src="@{/images/add.png}" height="30" width="30"><h1>Add Therapy Session</h1></div></div>
		</div></center>
		<center> <input style="text-align:center;" type="text" id="myInput" onkeyup="myFunction()" placeholder="Search by Therapist's Name" title="Type Therapist's Name"> </center>
		<center> 
		<table id="myTable">
		<tr class="header">
			<th>Therapy ID</th>
			<th>Therapist Name</th>
			<th>Patient Name</th>
			<th>Session Date</th>
			<th>Session Start</th>
			<th>Session End</th>
			<th>Session Status</th>
			<th>Modify Therapy Session</th>
			<th>Delete Therapy Session</th>
			<th>View Progress Note</th>
			<th>Add Progress Note</th>
			<th>Modify Progress Note</th>
			<th>Delete Progress Note</th>
		</tr>
			<tr th:each="therapy : ${therapy_array}">
				<td th:text="${therapy.getTherapyId()}"></td>
				<td th:text="${therapy.getTherapistId()}"></td>
				<td th:text="${therapy.getPatientId()}"></td>
				<td th:text="${therapy.getDate()}"></td>
				<td th:text="${therapy.getTimeIn()}"></td>
				<td th:text="${therapy.getTimeOut()}"></td>
				<td th:text="${therapy.getTherapyStatusId()}"></td>
				<td><a th:href="@{/modify_therapy_session_form/{id} (id=${therapy.getTherapyId()})}">Edit Session</a></td>
				<td><a th:href="@{/delete_therapy_session_form/{id} (id=${therapy.getTherapyId()})}">Delete Session</a></td>
				<td><a th:href="@{/view_therapy_note/{id} (id=${therapy.getTherapyId()})}">View Note</a> </td>
				<td><a th:href="@{/add_therapy_note_form/{id} (id=${therapy.getTherapyId()})}">Add Note</a></td>
				<td><a th:href="@{/modify_therapy_note_form/{id}(id=${therapy.getTherapyId()})}">Edit Note</a></td>
				<td><a th:href="@{/delete_therapy_note_form/{id}(id=${therapy.getTherapyId()})}">Delete Note</a></td>
			</tr>
		</table>
		</center>
		<script>
		function myFunction() {
			var input, filter, table, tr, td, i, txtValue;
			input = document.getElementById("myInput");
			filter = input.value.toUpperCase();
			table = document.getElementById("myTable");
			tr = table.getElementsByTagName("tr");
			for (i = 0; i < tr.length; i++) {
				td = tr[i].getElementsByTagName("td")[1];
				if (td) {
					txtValue = td.textContent || td.innerText;
					if (txtValue.toUpperCase().indexOf(filter) > -1) {
						tr[i].style.display = "";
					} else {
					  tr[i].style.display = "none";
      }
    }       
  }
}
</script>
	</body>
</html>